<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file= "$(find ublox_gps)/launch/ublox_device.launch">
  </include>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
	 <!-- <param name="rtcm_topic" value="/rtcm"/> -->
 	 <param name="rtcm_topic" value="/ublox_gps/rtcm"/>
 	 <param name="ntrip_server" value="rts2.ngii.go.kr:2101"/>
	 <!-- <param name="ntrip_server" value="vrs3.ngii.go.kr:2101"/> -->
 	 <param name="ntrip_user" value="facility1"/>
 	 <param name="ntrip_pass" value="ngii"/>
 	 <param name="ntrip_stream" value="VRS-RTCM31"/>
 	 <param name="nmea_gga" value="$GPGGA,024539.902,3723.004,N,12639.255,E,1,12,1.0,0.0,M,0.0,M,,*60"/>
  </node>
</launch>

