<launch>
    <!-- imu -->
    <include file="$(find carrier_ros_imu)/launch/carrier_ros_imu.launch"/>

    <!-- lidar -->
    <include file="$(find carrier_ros_lidar)/launch/carrier_ros_lidar.launch"/>
    <include file="$(find carrier_ros_perception)/launch/carrier_ros_sensor_fusion.launch"/>

    <!-- camera -->
    <include file="$(find carrier_ros_camera)/launch/carrier_ros_front_camera.launch"/>
    <include file="$(find carrier_ros_perception)/launch/carrier_ros_env_perception.launch"/>

</launch>