<launch>
    <arg name="open_rviz" default="false"/>
    <!-- sensor -->
    <include file="$(find carrier_ros_bringup)/launch/carrier_ros_sensor.launch"/>

    <!-- remote -->
    <include file="$(find carrier_ros_bringup)/launch/carrier_ros_remote.launch"/>

    <!-- motor -->
    <include file="$(find carrier_ros_bringup)/launch/carrier_ros_motor.launch"/>

    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find carrier_ros_navigation)/rviz/carrier_ros_navigation.rviz"/>
    </group>

    <!-- map export -->
    <include file="$(find carrier_ros_map_export)/launch/carrier_ros_map.launch"/>

    <!-- kalman_filter -->
    <include file="$(find carrier_ros_navigation)/launch/carrier_ros_dual_ekf_navsat.launch"/>

    <!-- robot battery -->
    <include file="$(find carrier_ros_battery)/launch/carrier_ros_battery.launch"/>

    <!-- robot battery -->
    <node name="carrier_ros_nav_interface" pkg="carrier_ros_navigation" type="carrier_ros_nav_interface" output="screen"/>
    
</launch>
