<?xml version="1.0"?>
<launch>
  <include file="$(find carrier_ros_camera)/launch/carrier_ros_front_camera.launch"/>
  <include file="$(find carrier_ros_camera)/launch/carrier_ros_right_camera.launch"/>
  <include file="$(find carrier_ros_camera)/launch/carrier_ros_left_camera.launch"/>
</launch> 

